.current-character {
  display: flex;
  gap: 15px;
}

.current-character__wins {
  color: rgb(89, 128, 89);
}

.current-character__loses {
  color: rgb(107, 47, 47);
}

.current-character__img {
  width: 200px;
  height: 300px;
  cursor: pointer;
}
