.fight-log-screen {
  border: 2px solid;
  width: 100%;
  height: 150px;
  margin-top: 20px;
  overflow-y: auto;
  padding: 5px 5px;
}

.log-key-words {
  font-weight: bold;
  color: #08039c;
}

.log-damage {
  font-weight: bold;
}
