.fight-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.fight-settings__zones {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fight-settings__divider {
  border: 1px solid;
  height: 100px;
  width: 1px;
}
